<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/images/burger.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">4500F</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nobis, quos veniam perspiciatis soluta vel nesciunt quisquam nisi.</p>
      <a href="#" class="btn btn-success tout">Nom Produit</a>
      <a href="#" class="btn btn-warning tout">Ajouter au panier</a>
    </div>
  </div>
